[submodule "Resources/icons"]
	path = Resources/icons
	url = https://github.com/QuantumApplications/icons.git
[submodule "Frameworks/Macaw"]
	path = Frameworks/Macaw
	url = https://github.com/QuantumApplications/Macaw.git
