[submodule "Resources/icons"]
	path = Resources/icons
	url = https://github.com/QuantumApplications/icons.git
[submodule "Frameworks/SwiftSVG"]
	path = Frameworks/SwiftSVG
	url = https://github.com/QuantumApplications/SwiftSVG.git
